:root {
    --color-primary: #22d3ee;
    --color-primary-hover: #a1e9f4;
    --color-secondary: #1a1a1a;
    --color-tertiary: #0f0f0f;
    --glass-bg: rgba(255, 255, 255, 0.08);
    --glass-border: rgba(255, 255, 255, 0.15);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-tertiary);
    color: var(--color-text);
}


.hamburger-btn {
    display: none;
}

.sidebar {
    width: 230px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 25px;
    background: var(--glass-bg);
    backdrop-filter: blur(14px);
    border-right: 1px solid var(--glass-border);
    box-shadow: inset 0 0 20px rgba(255,255,255,0.05);
    transition: 0.3s ease;
}

.sidebar h2 {
    font-family: "Orbitron", sans-serif;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    margin: 14px 0;
}

.sidebar ul li a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.08);
    transition: 0.3s ease;
}

.sidebar ul li a:hover {
    background: var(--color-primary);
    color: #000;
    box-shadow: 0 0 14px rgba(34, 211, 238, 0.7);
    transform: translateX(4px);
}

.sidebar ul li .logout {
    background: #ff4c4c;
    border: none;
    font-weight: bold;
}

.sidebar ul li .logout:hover {
    transform: scale(1.06);
    box-shadow: 0 0 12px rgba(255, 80, 80, 0.6);
    background: #ff4c4c;
}

.main-content {
    margin-left: 280px;
    padding: 25px;
    color: white;
    transition: 0.3s ease;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: var(--glass-bg);
    border: 1px solid var(--glass-border);
    padding: 25px;
    border-radius: 14px;
    flex: 1;
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-7px);
    background: rgba(34, 211, 238, 0.06);
    box-shadow: 0 0 18px rgba(34, 211, 238, 0.4);
}



@media(max-width:768px){

    .hamburger-btn {
        display: block;
        font-size: 24px;
        color: white;
        padding: 16px;
        cursor: pointer;
        position: relative;
        z-index: 9999;
    }

    .hamburger-btn .close {
        display: none;
    }

    .sidebar {
        left: -300px;
        z-index: 9998;
        width: 230px;
        transition: 0.3s;
    }

    .sidebar.active {
        left: 0;
        box-shadow: 4px 0 15px rgba(0,0,0,0.4);
    }

    .main-content {
        margin-left: 0;
    }
}
