
:root {
    --color-primary: #22d3ee;
    --color-primary-hover: #a1e9f4;
    --color-secondary: #2c2c2c;
    --color-tertiary: #1A1A1A;
    --color-text: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-tertiary);
    color: var(--color-text);
}




form {
    width: 320px;
    margin: 40px auto;
    padding: 22px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    color: #e4e4e4;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color: #cfcfcf;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #3a3a3a;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: var(--color-primary);
    outline: none;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
}

.btn {
    width: 100%;
    padding: 10px;
    background: var(--color-primary);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease;
}

.btn:hover {
    background: var(--color-primary-hover);
}




