
.hamburger-btn{
    display: none;
}



.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 12px 12px 0;
    transition: all 0.3s;
}

.sidebar h2 {
    color: var(--color-primary);
    margin-bottom: 30px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 12px 16px;
    border-radius: 4px;
    transition: 0.3s;
    font-family: Arial, sans-serif;
}

.sidebar ul li a:hover {
    background-color: var(--color-primary);
    color: #000;
}

.sidebar ul li .logout {
    background-color: #fa2b2b;
    transition: 0.3s;
}

.sidebar ul li .logout:hover {
    transform: scale(1.05);
    background-color: #fa2b2b;
}

.main-content {
    margin-left: 260px;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    background-color: rgba(34, 211, 238, 0.1);
}

@media(max-width:768px){

    .hamburger-btn {
        display: block;
        color: white;
        padding: 16px 16px;
        font-size: 22px;
        cursor: pointer;
        z-index: 9999;
        position: relative;
    }

    .hamburger-btn .close {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        width: 220px;
        height: 100vh;
        padding: 20px;
        backdrop-filter: blur(12px);
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border-radius: 0 12px 12px 0;
        transition: left 0.3s ease;
        z-index: 9998;
    }

    .sidebar.active {
        left: 0;
    }

    .main-content {
        margin-left: 0;
    }
}








