* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

:root{
    --color-primary: #22d3ee;
    --color-primary-hover: #a1e9f4;
    --color-secondary: #2c2c2c;
    --color-tertiary: #1A1A1A;
}

h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

::selection{
    background: rgba(255, 255, 255, 0.25);
    color: white;
}

main{
    background: var(--color-tertiary);
}

/* ==============================NAVBAR================================= */

nav {
    position: fixed;
    top: 16px;
    left: 5%;
    width: 90%;
    padding: 12px 32px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


nav h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.6px;
    cursor: pointer;
}

nav h1 a{
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
}

.tech {
    color: #e5e7eb;
}

.gear {
    color: var(--color-primary);
}

.nav-list { 
    display: flex;
    gap: 32px;
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.nav-list a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart {

    font-size: 20px;
    background: var(--color-primary);
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
    color: white;
}

.cart:hover {
    background: var(--color-primary-hover);
    transform: scale(1.1);
    cursor:pointer;
}

.hamburger-btn {
    display: none;
}


/* ================FOOTER================ */
footer{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 30px;
    background: var(--color-tertiary);
    cursor: pointer;
}






@media (max-width: 768px) {

    nav{
        padding: 6px 16px;
    }

    nav h1{
        font-size: 12px;
        line-height: 16px;
    }

    .nav-list {
        display: none;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 20px;
        gap: 16px;
        backdrop-filter: blur(12px);
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }

    .nav-list li a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        padding: 8px 0;
        transition: 0.2s;
    }

    .nav-list li a:hover {
        color: var(--color-primary);
    }

    .nav-right{
        gap: 5px;
    }

    .hamburger-btn {
        display: flex;
        color: white;
        cursor: pointer;
        font-size: 20px;
        transition: 0.3s;
    }

    .hamburger-btn:hover {
        color: var(--color-primary);
    }

    .hamburger-btn .close {
        display: none;
    }

    .cart{
        font-size:15px;
        padding: 8px;
    }

}